<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Form</title>
<style type="text/css">
label{
	display: inline-block;
	width:200px;
	margin:5px;
	text-align: left;
	padding:8px;
	
}
button{
	margin:10px;
	padding:10px;
}
input[type=text], input[type=password],  select{
	display:inline-block;
	width:200px;
}
input[type=checkbox]{
	margin-right:190px;
	}
	body{
	height: 100vh;
   	background-color:   paleturquoise;
	}
</style>
</head>
<body>
<div align="center">
<h1>User Registration Form</h1><br><br>
	<form action="#" th:action="@{/register}" th:object="${user}" method="post">
	<label>Full name: </label>
	<input type="text" placeholder="Enter Your Full Name" th:field="*{name}" /><br>
	
	<label>E-mail: </label>
	<input type="text" placeholder="Enter Your mail-id" th:field="*{email}" /><br>
	
	<label>Password:</label>
	<input type="password" placeholder="Enter Your password" th:field="*{password}" /><br>
	
	<label>YOB(yyyy-mm-dd): </label>
	<input type="text" placeholder="Enter Your birth date" th:field="*{birthdate}" /><br>
	
	<label>Profession:</label>
	<select th:field="*{proffesion}">
	<option th:each="p : ${profList}" th:value="${p}" th:text="${p}"/>
	</select><br>
	
	<label>Married: </label>
	<input type="checkbox"  th:field="*{married}" /><br>
	
	<label>Gender: </label>
	<input type="radio"  th:field="*{gender}" value="Male"/>Male
	<input type="radio"  th:field="*{gender}" value="FeMale"/>FeMale<br>
	
	<label>Note: </label>
	<textarea rows="5" cols="20" th:field="*{note}"></textarea><br>
	<button type="submit">Register</button>
	
	</form>
</div>
</body>
</html>